/** Generals**/
:root {
    --red:#ff2e63;
    --black:#252a34;
    --blue:#08d9d6;
    --white:#eaeaea;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-self: center;
}

body {
    background:#fff;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}
.gotop{
    width: 50px;
    height: 50px;
    position: fixed;
    z-index:100;
    bottom: -10vh; 
    left: 0;
    padding-top: 5px;
    text-align: center;
    font-size: 30px;
    color: black;
    border-radius: 50%;
    background:linear-gradient(to top,var(--red),transparent);
}
.gotop:hover {
    cursor: pointer;
    background:linear-gradient(to top,var(--blue),transparent);
    z-index: 100;
    scroll-behavior: smooth;
}
/** Generals**/
/**navigation menu**/
.header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    min-height: 60px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999999;
    
}

.menu .logo-box {
    text-align: center;
    ;
}
.menu .logo-box h1 a {
    text-decoration: none;
    font-size: 35px;
    font-weight: 900;
    color: var(--black);
}

.list-conteiner{
    text-align: center;
}
.list-ul{
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.list-li{
    list-style: none;  
}
.list-li a{
    text-decoration: none;
    margin:0 10px;
    padding: 10px;
    color: var(--black);
    font-size: 16px;
    border-radius: 24px;
    transition: 0.3s;
}
.list-li .active{
    background-color: var(--red);
    color: white;
}
.list-li:hover > a{
    background-color: var(--red);
    color: white;
}


.btn-menu > .fa-bars{
    display: none;
}
/**navigation menu**/
/**IMG Header**/
.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../imagenes/Tattoo-wallpaper-4K.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: 101;
    clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0% 100%);

}
.img_header-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.img-header h2{
    font-size: 50px;
    color: white;
    font-weight: 200;
    text-align: center;
}
.img-header hr{
    width: 500px;
    height: 2px;
    background: white;
    border: none;
    margin-top: 10px;
}
.img-header p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    text-align: center;
}
.img-header .img_header-godown{
    width: 170px;
    height: 40px;
    font-size: 15px;
    margin-top: 20px;
    background: var(--red);
    border:none;
    border-radius: 24px;
    color: var(--white);
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}
.img_header-godown:hover{
    background: var(--blue);
}
/**IMG Header**/
/** About Us**/
.about_us{
    width: 100%;
    margin-top: 10px;
    
}
.about_us .about_us-infoconteiner{  
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    clip-path: polygon(-10px 0%, 100% 4%, 100% 94%, 7% 100%);
    
}

.about_us-tittle{
    margin-top:90px ;
    display: flex;
    width: 80%;
    justify-content: center;
}
.about_us .about_us-infoconteiner .about_us-tittle h2{
    width: 450px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--red);
    border-bottom: none;
    color: var(--red);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.about_us .about_us-infoconteiner p{
    width: 80%;
    text-align: justify;
    margin:10px 0px;
    font-size: 18px;
    color:var(--black);
    line-height: 35px;
    border-bottom: 1px solid var(--red);
    border-top: 1px solid var(--red);
}
.about_us .about_us-gallery {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin:10px 0px;
    flex-wrap: wrap;
    
}
.about_us .about_us-infoconteiner .about_us-gallery img{
    width: 30%; /** calc(33.33%-10px) **/
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    min-width: 250px;
    border: 1px solid var(--red);
}

.about_us-btn button{
    width: 170px;
    height: 40px;
    font-size: 15px;
    margin-top: 20px;
    background: var(--red);
    border:none;
    border-radius: 24px;
    color: var(--white);
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 100px;
    
}

.about_us-btn button:hover{
    background: var(--blue);
}
/**About Us**/

/**Samples**/
.samples_infoconteiner{
    background: url(../imagenes/fondomuestra.jpg);
    position: relative;
    width: 100vw;
    height: 100%;
    background-attachment: fixed;
    background-position: center; 
    margin-bottom: 120px;
}

.samples_infoconteiner .samples_tittle{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    min-width: 350px;
    
}
.samples_infoconteiner .samples_tittle h2{
    width: 300px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 99;
    margin: 0px 0px;
    padding-top:10px;
    padding-bottom: 10px;
    border: 1px solid var(--red);
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.samples_infoconteiner hr{
    position: relative;
    width: 100vw;
    height: 1px;
    background: var(--red);
    border: none;
    margin-top: 5px;
    z-index: 99;
}

.samples_infoconteiner .samples_deg-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
}
.samples_infoconteiner .samples_gallery{
    margin: 15px;
    display: grid;
    min-width: 250px;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-template-rows: 3 300px;
    gap: 5px;
}

.samples_infoconteiner .samples_gallery img{
    justify-self: center;
    width: 300px;
    height: 300px;
    object-fit:cover;
    border-radius: 10px;
    cursor:pointer;
    border:1px solid var(--red);
    z-index: 98; 
    margin-bottom: 10px;  
}

.samples_infoconteiner .samples_gallery img:hover{
    transition: 0.4s;
    justify-self: center;
    width: 400px;
    height: 400px;
    object-fit:cover;
    border-radius: 10px;
    cursor:pointer;
    border:1px solid var(--blue);
    z-index: 99; 
    margin-bottom: 10px;  
}
/**Samples**/
/**Testimonials**/

.testimony_infocontiner{
    position: relative;
    background: url(../imagenes/testimonybackgroud.jpg);
    background-attachment: fixed;
    height: 100%;
    width: 100vw;
    background-size: cover;
    clip-path: polygon(0% 0%, 97% 0%, 100% 100%, 3% 100%);
    margin-bottom: 100px;
}

.testimony_infocontiner .testimony_deg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
}

.testimony_infocontiner .testimony_tittle{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    min-width: 350px;
}

.testimony_infocontiner .testimony_tittle h2{
    width: 600px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 99;
    margin: 0px 0px;
    padding-top:10px;
    padding-bottom: 10px;
    border: 1px solid var(--red);
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.testimony_infocontiner hr{
    position: relative;
    width: 100vw;
    height: 1px;
    background: var(--red);
    border: none;
    margin-top: 5px;
    z-index: 99;
    margin-bottom: 15px;
}

.testimony_infocontiner .testimony_ul{
    list-style: none;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;
}

.testimony_item-li-conteiner{
    display: flex;
    width: 36vw;
    min-width: 300px;
    height: auto;
    text-align: justify;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin:0 10px 20px 10px;
    cursor: pointer;
}

.testimony_item-li-conteiner img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--red);
}

.testimony_item-li-conteiner h4{
    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: 8px;
    color:var(--red);
    margin: 0px 10px;
}

.testimony_item-li-conteiner p{
    display: block;
    width: 100%;
    text-align: justify;
    color: white;
    margin: 0px 10px;
    
}

.testimony_item-li-conteiner:hover >h4{
    color: var(--blue);
    font-size: 20px;
    transition: 0.4s;
}

.testimony_item-li-conteiner:hover >p{
    font-weight:500;
    transition: 0.4s;
}

.testimony_item-li-conteiner:hover >img{
    border: 2px solid var(--blue);
    transition: 0.4s;
}
/**Testimonials**/
/**Formulary-Footer**/

.footer{
    margin-top: 100px;
    position: relative;
    width: 100vw;
    height: 100%;
    background: url(../imagenes/estudiodetatuajeFooter.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer_tittle{
    margin: 20px;
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-bottom: 20px;
    z-index: 99;
    min-width: 350px;
    }

.footer_tittle h3{
    width: 250px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid var(--red);
    border-left: 1px solid var(--red) ;
    color: #fff;
    border-bottom-left-radius: 10px;
}
    

.footer_deg{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
}

.footer_infoconteiner{
    z-index: 99;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#footer_formulary{
    display:flex;
    width: 40%;
    height: 100%;    
    margin: 20px;
    flex-direction: column;
    align-self: flex-end;
    align-items:center;
    min-width: 350px;
}

#footer_formulary input,textarea,label,button{
    align-self: center;
    

}
#footer_formulary input{
    height: 50px;
    width: 80%;
    padding: 10px;
    border: 1px solid var(--red);
    border-radius: 10px;
    margin: 5px;
    outline: none;
    text-align: center;
    background: linear-gradient(to right,black, transparent);
    color: var(--blue);
}
#footer_formulary textarea{
    resize: none;
    width: 80%;
    height: 140px;
    border: 1px solid var(--red);
    border-radius: 10px;
    margin: 5px;
    outline: none;
    text-align: center;
    background: linear-gradient(to right,black, transparent);
    color: var(--blue);
}
#footer_formulary input::placeholder{
    color: var(--red);
    font-family: 'Raleway', sans-serif;
}
#footer_formulary textarea::placeholder{
    color: var(--red);
    font-family: 'Raleway', sans-serif;
}

#footer_formulary input:focus{
    border: 1px solid var(--blue);
    text-align: start;
}
#footer_formulary textarea:focus{
    border: 1px solid var(--blue);
    text-align: start;
}

.send{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px;
}
.send label{
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    width: 80%;
    min-width: 300px;
}
.send .btn{
    width: 170px;
    height: 40px;
    font-size: 15px;
    background: var(--red);
    border:none;
    border-radius: 24px;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
}
.send .btn:hover{
    background: var(--blue);
}
.send .btn:active{
	background: linear-gradient(to bottom,var(--red), transparent);
    outline: none;
}

.footer_text{
    z-index: 99;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    align-self: flex-start;
}
/**Formulary-Footer**/

/**Media Query**/
@media only screen and (max-width:790px){
    .menu{
        display: flex;
        border-bottom:1px solid var(--red)
    }

    .btn-menu > .fa-bars{
        font-size: 40px;
        padding: 10px;
        color: var(--red);
        display: block;
        position: absolute;
        text-align: center;
        right: 00px ;
        top: 0px;
        cursor: pointer;
        width: 80px;
        height: 60px;  
    }
    .btn-menu > .fa-bars:hover{
        color: var(--blue);
    }
    .list-conteiner{
        display:flex;
        top: 60px;
        width: 100%;
        height: calc(100vh - 60px);
        height: 100vh;
    }  
    .list-ul{
        height: calc(100vh - 60px);
        width: 50vw;
        top:60px;
        right: -50vw; /** valor para modificar con JS**/
        position: absolute;
        display: flex;
        flex-direction: column;
    }
    .list-ul .list-li{
        width: 100%;
        height: fit-content;
        padding-top: 30%;
        padding-bottom: 30%;
        border-bottom: 1px solid var(--red);
        flex-grow: 1;
        background: linear-gradient(to bottom, white, var(--white));
    }
    .list-ul .list-li a{
        font-size: 35px;
        font-weight: 900;
    }

    .img_header-welcome{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .img-header .img_header-welcome h2{
        font-size: 50px;
    }
    .img-header .img_header-welcome hr{
        margin-top: 10px;
        width: 400px;
    }
    .img-header .img_header-welcome p{
        width: 90%;
        font-size: 28px;
    }

    .header .menu .logo-box h1 a{
        font-size: 50px;
    }
    .img-header .img_header-welcome .img_header-godown{
        width: 300px;
        height: 80px;
        font-size: 28px;
    }

}

@media only screen and (max-width:500px){
    .menu{
        display: flex;
        border-bottom:1px solid var(--red)
    }

    .btn-menu > .fa-bars{
        font-size: 30px;
        padding: 20px;
        color: var(--red);
        display: block;
        position: absolute;
        text-align: center;
        right: 00px ;
        top: 0px;
        cursor: pointer;
        width: 80px;
        height: 60px;  
    }
    .btn-menu > .fa-bars:hover{
        color: var(--blue);
    }
    .list-conteiner{
        display:flex;
        top: 60px;
        width: 100%;
        height: calc(100vh - 60px);
        height: 100vh;
    }  
    .list-ul{
        height: calc(100vh - 60px);
        width: 50vw;
        top:60px;
        right: -50vw; /** valor para modificar con JS**/
        position: absolute;
        display: flex;
        flex-direction: column;
    }
    .list-ul .list-li{
        width: 100%;

        border-bottom: 1px solid var(--red);
        flex-grow: 1;
        background: linear-gradient(to bottom, white, var(--white));
    }
    .list-ul .list-li a{
        font-size: 20px;
    }

    .img_header-welcome{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .img-header .img_header-welcome h2{
        font-size: 35px;
    }
    .img-header .img_header-welcome hr{
        margin-top: 10px;
        width: 400px;
    }
    .img-header .img_header-welcome p{
        width: 90%;
        font-size: 18px;
    }

    .header .menu .logo-box h1 a{
        font-size: 30px;
    }
    .img-header .img_header-welcome .img_header-godown{
        width: 200px;
        height: 50px;
        font-size: 16px;
    }

}
